<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<!-- The application context definition for the DispatcherServlet -->

	<!-- Maps the request through to a concrete controller instance -->
	<bean id="urlMapping"
		class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
		<property name="mappings">
			<value>
				/**/login.rpc=loginController
			</value>
		</property>
	</bean>

	<!-- GwtRpcController wraps our service in order to decode the incoming -->
	<!-- request then delegates processing of the call to the POJO service -->
	<!-- and then encodes the return value forwarding the response. -->
	<bean id="loginController" class="com.deploymentplan.server.user.GwtRpcController">
		<property name="remoteService">
			<bean class="com.deploymentplan.server.user.LoginWindowImpl" />
		</property>
	</bean>

</beans>